<%- include('partials/head.ejs')%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<section class="features"id="features">
    <h1 class="heading">our <span>features</span></h1>


    <div class="box-container">
        <div class="box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbyYK6zS5Xikzill1QEiM9J_cJCaRh4EbIAQ&usqp=CAU">
            <h3>Fresh and Organic</h3>
            <p>Organic foods are rich in nutrients,such as Vitamin.</p>
            <a href="#"class="btn">read more</a>
        </div>

        <div class="box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjgErkS-PGwx6AHLFOu51sB8USIZM4qwG3CQ&usqp=CAU">
            <h3>Free Deleviery</h3>
            <p>Get FREE delivery on all orders!  ...</p>
            <a href="#"class="btn">read more</a>
        </div>

        <div class="box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU30FNNj_kN3FDLwGVr5HgqkPLNKie4MDIE25xB6klcLJgBUMhhl1qekQMVPAMuaITsbE&usqp=CAU">
            <h3>easy payment</h3>
            <p>Online payment available.</p>
            <a href="#"class="btn">read more</a>
        </div>
        
    </div>
    </section>


<%- include('partials/body.ejs')%>
