<%- include('partials/AdminHead')%>



<h1 class="text-center mt-5">Seller Login</h1>
<form class="container mx-auto w-50" method="post">

    <div class="form-floating mb-3 ">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
        
        <button class="btn btn-dark mt-3">login</button>
    </div>
    
</form>

<div class="mx-auto w-25 text-center">
    <a href="/user/seller/login" class="text-primary text-decoration-none">Create New Account</a>
</div>

<div class="w-25 mx-auto mt-5 ">
    <% if(error){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
      </div>
      <% } %>
</div>

<%- include('partials/AdminBody')%>

